Final.json
[{"id":"a0bb0bb6.7c0ce8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"16c67709.cdcd49","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b25f949f.c99fc8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5130154f.d30dfc","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b2f4a74d.900c38","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"c7dcd8fa.d0e328","type":"mqtt-broker","z":"","name":"","broker":"192.168.10.230","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"68741756.3c5a08","type":"ui_group","z":"","name":"Lungimi semafoare","tab":"2c09fc15.ceb1f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"af2b5e07.2351f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5e5066e8.1bb3c8","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"licentadb","tz":""},{"id":"2c09fc15.ceb1f4","type":"ui_tab","z":"","name":"Sistem Management Semafoare","icon":"dashboard","disabled":false,"hidden":false},{"id":"525e4023.463d8","type":"ui_group","z":"","name":"Main","tab":"2c09fc15.ceb1f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"3649b38d.ee423c","type":"function","z":"a0bb0bb6.7c0ce8","name":"state 1","func":"var T = global.get('T') || 0;\nvar V = 1;\nvar G = 2;\nvar R = 3;\nvar state = 1;\nmsg2 = {};\nmsg2.payload = 0;\nvar Power=global.get(\"Power\");\nif(Power==1)\n    {\n    if(msg.payload==1)\n        {\n        T=T+1;\n        global.set('T', T);\n        \n        \n        if(T < 8)\n            {\n                global.set(\"SemaforNS\", V)\n                global.set(\"SemaforEV\", R)\n                state = 1;\n                msg.payload = 1;\n                return [msg, msg2, msg2, msg2, msg2, msg];\n                \n            }\n        else if(7 < T && T < 11 )\n            {\n                global.set(\"SemaforNS\", G)\n                global.set(\"SemaforEV\", R)\n                state = 2;\n                msg.payload = 1;\n                return [msg, msg2, msg2, msg2, msg, msg2];\n            }\n        else if(10 < T && T < 17 )\n            {\n                global.set(\"SemaforNS\", R)\n                global.set(\"SemaforEV\", V)\n                state = 3;\n                msg.payload = 1;\n                return [msg2, msg2, msg, msg, msg2, msg2];\n            }\n        else if(16 < T && T < 20 )\n            {\n                global.set(\"SemaforNS\", R)\n                global.set(\"SemaforEV\", G)\n                state = 4;\n                msg.payload = 1;\n                return [msg2, msg, msg2, msg, msg2, msg2];\n            }\n        else\n            {\n                T=0;\n            }\n        \n        global.set('T', T);\n        }\n    }\n    \nelse if(Power===0)\n    return [msg2, msg2, msg2, msg2, msg2, msg2];\n\n    ","outputs":6,"noerr":0,"x":710,"y":220,"wires":[["7abce7ed.331548"],["739992e7.a5f07c"],["51d1ceb2.97ac9"],["857dbb35.7fb9c8"],["f643f88a.f90f18"],["7aa9b013.b4ea6"]]},{"id":"857dbb35.7fb9c8","type":"rpi-gpio out","z":"a0bb0bb6.7c0ce8","name":"NS-Rosu","pin":"7","set":true,"level":"0","freq":"","out":"out","x":980,"y":144,"wires":[]},{"id":"f643f88a.f90f18","type":"rpi-gpio out","z":"a0bb0bb6.7c0ce8","name":"NS-Galben","pin":"11","set":true,"level":"0","freq":"","out":"out","x":992,"y":196,"wires":[]},{"id":"7aa9b013.b4ea6","type":"rpi-gpio out","z":"a0bb0bb6.7c0ce8","name":"NS-Verde","pin":"13","set":true,"level":"0","freq":"","out":"out","x":983,"y":248,"wires":[]},{"id":"7abce7ed.331548","type":"rpi-gpio out","z":"a0bb0bb6.7c0ce8","name":"EV-Rosu","pin":"15","set":true,"level":"0","freq":"","out":"out","x":982,"y":352,"wires":[]},{"id":"739992e7.a5f07c","type":"rpi-gpio out","z":"a0bb0bb6.7c0ce8","name":"EV-Galben","pin":"29","set":true,"level":"0","freq":"","out":"out","x":995,"y":412,"wires":[]},{"id":"51d1ceb2.97ac9","type":"rpi-gpio out","z":"a0bb0bb6.7c0ce8","name":"EV-Verde","pin":"31","set":true,"level":"0","freq":"","out":"out","x":983,"y":467,"wires":[]},{"id":"b20f1720.dca568","type":"function","z":"a0bb0bb6.7c0ce8","name":"state 2","func":"var T = global.get('T') || 0;\nvar V = 1;\nvar G = 2;\nvar R = 3;\nvar state = 1;\nmsg2 = {};\nmsg2.payload = 0;\nvar Power=global.get(\"Power\");\nif(Power==1)\n    {\n    if(msg.payload==1)\n        {\n        T=T+1;\n        global.set('T', T);\n        \n        if(T < 11)\n            {\n                global.set(\"SemaforNS\", R)\n                global.set(\"SemaforEV\", V)\n                state = 1;\n                msg.payload = 1;\n                return [msg2, msg2, msg, msg, msg2, msg2];\n            }\n        else if(10 < T && T < 14 )\n            {\n                global.set(\"SemaforNS\", R)\n                global.set(\"SemaforEV\", G)\n                state = 2;\n                msg.payload = 1;\n                return [msg2, msg, msg2, msg, msg2, msg2];\n            }\n        else if(13 < T && T < 18 )\n            {\n                global.set(\"SemaforNS\", V)\n                global.set(\"SemaforEV\", R)\n                state = 3;\n                msg.payload = 1;\n                return [msg, msg2, msg2, msg2, msg2, msg];\n            }\n        else if(17 < T && T < 20 )\n            {\n                global.set(\"SemaforNS\", G)\n                global.set(\"SemaforEV\", R)\n                state = 4;\n                msg.payload = 1;\n                return [msg, msg2, msg2, msg2, msg, msg2];\n            }\n        else\n            {\n                T=0;\n            }\n            \n        global.set('T', T);\n        }\n    }\nelse if(Power===0)\n    return [msg2, msg2, msg2, msg2, msg2, msg2];","outputs":6,"noerr":0,"x":706,"y":342,"wires":[["7abce7ed.331548"],["739992e7.a5f07c"],["51d1ceb2.97ac9"],["857dbb35.7fb9c8"],["f643f88a.f90f18"],["7aa9b013.b4ea6"]]},{"id":"579d3b69.2f8934","type":"function","z":"a0bb0bb6.7c0ce8","name":"state 3","func":"var T = global.get('T') || 0;\nvar V = 1;\nvar G = 2;\nvar R = 3;\nvar state = 1;\nmsg2 = {};\nmsg2.payload = 0;\nvar Power=global.get(\"Power\");\nif(Power==1)\n    {\n    if(msg.payload==1)\n        {\n        T=T+1;\n        global.set('T', T);\n        \n        if(T < 11)\n            {\n                global.set(\"SemaforNS\", V)\n                global.set(\"SemaforEV\", R)\n                state = 1;\n                msg.payload = 1;\n                return [msg, msg2, msg2, msg2, msg2, msg];\n            }\n        else if(10 < T && T < 14 )\n            {\n                global.set(\"SemaforNS\", G)\n                global.set(\"SemaforEV\", R)\n                state = 2;\n                msg.payload = 1;\n                return [msg, msg2, msg2, msg2, msg, msg2];\n            }\n        else if(13 < T && T < 18 )\n            {\n                global.set(\"SemaforNS\", R)\n                global.set(\"SemaforEV\", V)\n                state = 3;\n                msg.payload = 1;\n                return [msg2, msg2, msg, msg, msg2, msg2];\n            }\n            else if(17 < T && T < 20 )\n            {\n                global.set(\"SemaforNS\", R)\n                global.set(\"SemaforEV\", G)\n                state = 4;\n                msg.payload = 1;\n                return [msg2, msg, msg2, msg, msg2, msg2];\n            }\n        else\n            {\n                T=0;\n            }\n        \n        global.set('T', T);\n        }\n    }\nelse if(Power===0)\n    return [msg2, msg2, msg2, msg2, msg2, msg2];","outputs":6,"noerr":0,"x":706,"y":473,"wires":[["7abce7ed.331548"],["739992e7.a5f07c"],["51d1ceb2.97ac9"],["857dbb35.7fb9c8"],["f643f88a.f90f18"],["7aa9b013.b4ea6"]]},{"id":"269780cb.e23e","type":"function","z":"a0bb0bb6.7c0ce8","name":"Decizional","func":"var distantaEst=global.get(\"DistantaEst\");\nvar distantaSud=global.get(\"DistantaSud\");\nvar distantaVest=global.get(\"DistantaVest\");\nvar distantaNord=global.get(\"DistantaNord\");\nvar maxEV=-32000;\nvar maxNS=-32000;\nmsg2 = {};\nmsg2.payload = 0;\nif(distantaEst>distantaVest)\n    maxEV=distantaEst;\nelse if(distantaVest>distantaEst)\n    maxEV=distantaVest;\nif(distantaSud>distantaNord)\n    maxNS=distantaSud;\nelse if(distantaNord>distantaSud)\n    maxNS=distantaNord;\nglobal.set (\"maxEV\", maxEV);\nglobal.set (\"maxNS\", maxNS);\nif((maxEV-6<maxNS && maxNS<maxEV+6) || (maxNS-6<maxEV && maxEV<maxNS+6))\n\n    {\n        msg.payload=1;\n        return [msg, msg2, msg2];\n    } \n    else if(maxEV-5<maxNS)\n    {\n        msg.payload=1;\n        return [msg2, msg2, msg];\n    }\n    else if(maxNS-5<maxEV)\n    {\n        msg.payload=1;\n        return [msg2, msg, msg2];\n    }\nreturn [null, null, null];","outputs":3,"noerr":0,"x":410,"y":260,"wires":[["3649b38d.ee423c"],["b20f1720.dca568"],["579d3b69.2f8934"]]},{"id":"73df8470.be292c","type":"trigger","z":"a0bb0bb6.7c0ce8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":460,"y":80,"wires":[["269780cb.e23e"]]},{"id":"15390fe5.36294","type":"function","z":"b25f949f.c99fc8","name":"ButonEstIntrare","func":"var counterBtnEstIntrare=global.get(\"counterBtnEstIntrare\");\n\nif(msg.payload==1)\n{\n    counterBtnEstIntrare++;\n    global.set(\"counterBtnEstIntrare\", counterBtnEstIntrare);\n}\n\nif(counterBtnEstIntrare>1)\n{\n    global.set(\"counterBtnEstIntrare\", 0);\n    var DistantaEst=global.get(\"DistantaEst\");\n    DistantaEst+=5;\n    global.set(\"DistantaEst\",DistantaEst);\n}\nmsg.payload=global.get(\"DistantaEst\")\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":80,"wires":[[]]},{"id":"c7481806.ab3928","type":"rpi-gpio in","z":"b25f949f.c99fc8","name":"ButonEstIntrare","pin":"21","intype":"down","debounce":"25","read":false,"x":220,"y":80,"wires":[["50727836.28aa58"]]},{"id":"bd5eb648.c03248","type":"rpi-gpio in","z":"b25f949f.c99fc8","name":"ButonEstIesire","pin":"19","intype":"down","debounce":"25","read":false,"x":220,"y":140,"wires":[["c57432cf.d36b9"]]},{"id":"a45d1a9c.351748","type":"rpi-gpio in","z":"b25f949f.c99fc8","name":"ButonSudIntrare","pin":"23","intype":"down","debounce":"25","read":false,"x":220,"y":200,"wires":[["4d91b5b1.e1da3c"]]},{"id":"a93fb0c8.1a8f7","type":"rpi-gpio in","z":"b25f949f.c99fc8","name":"ButonSudIesire","pin":"33","intype":"down","debounce":"25","read":false,"x":220,"y":260,"wires":[["72c5a114.b43b9"]]},{"id":"4440710.603789","type":"rpi-gpio in","z":"b25f949f.c99fc8","name":"ButonVestIntrare","pin":"35","intype":"down","debounce":"25","read":false,"x":220,"y":320,"wires":[["297299de.b7f436"]]},{"id":"695ea08a.507c6","type":"rpi-gpio in","z":"b25f949f.c99fc8","name":"ButonVestIesire","pin":"37","intype":"down","debounce":"25","read":false,"x":220,"y":380,"wires":[["b3fd33d0.e0506"]]},{"id":"e53bdc7f.0fcf1","type":"rpi-gpio in","z":"b25f949f.c99fc8","name":"ButonNordIntrare","pin":"38","intype":"down","debounce":"25","read":false,"x":220,"y":440,"wires":[["851cd26.b402b3"]]},{"id":"2d16d132.0890ee","type":"rpi-gpio in","z":"b25f949f.c99fc8","name":"ButonNordIesire","pin":"40","intype":"down","debounce":"25","read":false,"x":220,"y":500,"wires":[["915e1e56.541cc"]]},{"id":"50727836.28aa58","type":"trigger","z":"b25f949f.c99fc8","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":420,"y":80,"wires":[["15390fe5.36294"]]},{"id":"c57432cf.d36b9","type":"trigger","z":"b25f949f.c99fc8","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":420,"y":140,"wires":[["969d9126.c0076"]]},{"id":"4d91b5b1.e1da3c","type":"trigger","z":"b25f949f.c99fc8","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":420,"y":200,"wires":[["bd8ab32f.2a942"]]},{"id":"72c5a114.b43b9","type":"trigger","z":"b25f949f.c99fc8","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":420,"y":260,"wires":[["cfab57c9.a91568"]]},{"id":"297299de.b7f436","type":"trigger","z":"b25f949f.c99fc8","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":420,"y":320,"wires":[["fbe46913.8f8538"]]},{"id":"b3fd33d0.e0506","type":"trigger","z":"b25f949f.c99fc8","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":420,"y":380,"wires":[["eeb1cdb6.0f211"]]},{"id":"851cd26.b402b3","type":"trigger","z":"b25f949f.c99fc8","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":420,"y":440,"wires":[["e48b87e3.d7c818"]]},{"id":"915e1e56.541cc","type":"trigger","z":"b25f949f.c99fc8","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":420,"y":500,"wires":[["d4d2a3bd.fd06f"]]},{"id":"969d9126.c0076","type":"function","z":"b25f949f.c99fc8","name":"ButonEstIesire","func":"var counterBtnEstIesire=global.get(\"counterBtnEstIesire\");\n\nif(msg.payload==1)\n{\n    counterBtnEstIesire++;\n    global.set(\"counterBtnEstIesire\", counterBtnEstIesire);\n}\n\nif(counterBtnEstIesire>1)\n{\n    global.set(\"counterBtnEstIesire\", 0);\n    var DistantaEst=global.get(\"DistantaEst\");\n    DistantaEst-=5;\n    global.set(\"DistantaEst\",DistantaEst);\n}\nmsg.payload=global.get(\"DistantaEst\")\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":140,"wires":[[]]},{"id":"bd8ab32f.2a942","type":"function","z":"b25f949f.c99fc8","name":"ButonSudIntrare","func":"var counterBtnSudIntrare=global.get(\"counterBtnSudIntrare\");\n\nif(msg.payload==1)\n{\n    counterBtnSudIntrare++;\n    global.set(\"counterBtnSudIntrare\", counterBtnSudIntrare);\n}\n\nif(counterBtnSudIntrare>1)\n{\n    global.set(\"counterBtnSudIntrare\", 0);\n    var DistantaSud=global.get(\"DistantaSud\");\n    DistantaSud+=5;\n    global.set(\"DistantaSud\",DistantaSud);\n}\nmsg.payload=global.get(\"DistantaSud\")\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[[]]},{"id":"cfab57c9.a91568","type":"function","z":"b25f949f.c99fc8","name":"ButonSudIesire","func":"var counterBtnSudtIesire=global.get(\"counterBtnSudtIesire\");\n\nif(msg.payload==1)\n{\n    counterBtnSudtIesire++;\n    global.set(\"counterBtnSudtIesire\", counterBtnSudtIesire);\n}\n\nif(counterBtnSudtIesire>1)\n{\n    global.set(\"counterBtnSudtIesire\", 0);\n    var DistantaSud=global.get(\"DistantaSud\");\n    DistantaSud-=5;\n    global.set(\"DistantaSud\",DistantaSud);\n}\nmsg.payload=global.get(\"DistantaSud\")\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[[]]},{"id":"fbe46913.8f8538","type":"function","z":"b25f949f.c99fc8","name":"ButonVestIntrare","func":"var counterBtnVestIntrare=global.get(\"counterBtnVestIntrare\");\n\nif(msg.payload==1)\n{\n    counterBtnVestIntrare++;\n    global.set(\"counterBtnVestIntrare\", counterBtnVestIntrare);\n}\n\nif(counterBtnVestIntrare>1)\n{\n    global.set(\"counterBtnVestIntrare\", 0);\n    var DistantaVest=global.get(\"DistantaVest\");\n    DistantaVest+=5;\n    global.set(\"DistantaVest\",DistantaVest);\n}\nmsg.payload=global.get(\"DistantaVest\")\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[[]]},{"id":"eeb1cdb6.0f211","type":"function","z":"b25f949f.c99fc8","name":"ButonVestIesire","func":"var counterBtnVestIesire=global.get(\"counterBtnVestIesire\");\n\nif(msg.payload==1)\n{\n    counterBtnVestIesire++;\n    global.set(\"counterBtnVestIesire\", counterBtnVestIesire);\n}\n\nif(counterBtnVestIesire>1)\n{\n    global.set(\"counterBtnVestIesire\", 0);\n    var DistantaVest=global.get(\"DistantaVest\");\n    DistantaVest-=5;\n    global.set(\"DistantaVest\",DistantaVest);\n}\nmsg.payload=global.get(\"DistantaVest\")\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":380,"wires":[[]]},{"id":"e48b87e3.d7c818","type":"function","z":"b25f949f.c99fc8","name":"ButoNordIntrare","func":"var counterBtnNordIntrare=global.get(\"counterBtnNordIntrare\");\n\nif(msg.payload==1)\n{\n    counterBtnNordIntrare++;\n    global.set(\"counterBtnNordIntrare\", counterBtnNordIntrare);\n}\n\nif(counterBtnNordIntrare>1)\n{\n    global.set(\"counterBtnNordIntrare\", 0);\n    var DistantaNord=global.get(\"DistantaNord\");\n    DistantaNord+=5;\n    global.set(\"DistantaNord\",DistantaNord);\n}\nmsg.payload=global.get(\"DistantaNord\")\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":440,"wires":[[]]},{"id":"d4d2a3bd.fd06f","type":"function","z":"b25f949f.c99fc8","name":"ButonNordIesire","func":"var counterBtnNordtIesire=global.get(\"counterBtnNordtIesire\");\n\nif(msg.payload==1)\n{\n    counterBtnNordtIesire++;\n    global.set(\"counterBtnNordtIesire\", counterBtnNordtIesire);\n}\n\nif(counterBtnNordtIesire>1)\n{\n    global.set(\"counterBtnNordtIesire\", 0);\n    var DistantaNord=global.get(\"DistantaNord\");\n    DistantaNord-=5;\n    global.set(\"DistantaNord\",DistantaNord);\n}\nmsg.payload=global.get(\"DistantaNord\")\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":500,"wires":[[]]},{"id":"589fe0bb.7bdd6","type":"function","z":"a0bb0bb6.7c0ce8","name":"Initializare Variabile","func":"var distantaEst=30;\nvar distantaSud=5;\nvar distantaVest=20;\nvar distantaNord=10;\nglobal.set(\"DistantaEst\", distantaEst);\nglobal.set(\"DistantaSud\", distantaSud);\nglobal.set(\"DistantaVest\", distantaVest);\nglobal.set(\"DistantaNord\", distantaNord);\nglobal.set(\"counterBtnEstIntrare\", 0);\nglobal.set(\"counterBtnEstIesire\", 0);\nglobal.set(\"counterBtnSudIntrare\", 0);\nglobal.set(\"counterBtnSudtIesire\", 0);\nglobal.set(\"counterBtnVestIntrare\", 0);\nglobal.set(\"counterBtnVestIesire\", 0);\nglobal.set(\"counterBtnNordIntrare\", 0);\nglobal.set(\"counterBtnNordtIesire\", 0);\nmsg.payload=1;\nglobal.set(\"Power\",1);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[[]]},{"id":"ba221659.7ec788","type":"mqtt in","z":"16c67709.cdcd49","name":"","topic":"SemaforNS","qos":"0","datatype":"auto","broker":"c7dcd8fa.d0e328","x":330,"y":80,"wires":[["8abf9281.902df"]]},{"id":"43ad8be7.3bd9a4","type":"mqtt in","z":"16c67709.cdcd49","name":"","topic":"SemaforEV","qos":"0","datatype":"auto","broker":"c7dcd8fa.d0e328","x":330,"y":140,"wires":[["d7216745.48ed78"]]},{"id":"d7216745.48ed78","type":"ui_gauge","z":"16c67709.cdcd49","name":"","group":"525e4023.463d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Semafor Est-Vest","label":"","format":"","min":"0","max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"","x":530,"y":140,"wires":[]},{"id":"8abf9281.902df","type":"ui_gauge","z":"16c67709.cdcd49","name":"","group":"525e4023.463d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Semafor Nord-Sud","label":"","format":"","min":"0","max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"","x":530,"y":80,"wires":[]},{"id":"dce1b16e.00664","type":"ui_switch","z":"16c67709.cdcd49","name":"Power","label":"Power","tooltip":"","group":"525e4023.463d8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Power","style":"","onvalue":"3","onvalueType":"num","onicon":"","oncolor":"","offvalue":"4","offvalueType":"num","officon":"","offcolor":"","x":310,"y":440,"wires":[["b5ff3d3f.9b234"]]},{"id":"b5ff3d3f.9b234","type":"mqtt out","z":"16c67709.cdcd49","name":"Power-Mqtt","topic":"Power","qos":"","retain":"true","broker":"c7dcd8fa.d0e328","x":510,"y":440,"wires":[]},{"id":"4d3191a6.48d82","type":"mqtt in","z":"a0bb0bb6.7c0ce8","name":"Power","topic":"Power","qos":"0","datatype":"auto","broker":"c7dcd8fa.d0e328","x":70,"y":80,"wires":[["ad899528.08b938"]]},{"id":"ad899528.08b938","type":"function","z":"a0bb0bb6.7c0ce8","name":"Initializare Power","func":"msg2 = {};\nmsg2.payload = 1;\nif (msg.payload==3)\n    {\n        global.set(\"Power\",1);\n        return [msg, msg2];\n    }\nelse if(msg.payload==4)\n    {\n    global.set(\"Power\",0);   \n    }\nreturn [msg, null];","outputs":2,"noerr":0,"x":250,"y":80,"wires":[["73df8470.be292c"],["2fa017de.a03fb8"]]},{"id":"2e70eb1e.f82bc4","type":"ui_level","z":"16c67709.cdcd49","group":"68741756.3c5a08","order":3,"width":"0","height":"0","name":"Lungime Coada Sud","label":"Coada Sud","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"m","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":540,"y":380,"wires":[]},{"id":"85f04175.75b7","type":"mqtt in","z":"16c67709.cdcd49","name":"","topic":"DistantaSud","qos":"1","datatype":"auto","broker":"c7dcd8fa.d0e328","x":330,"y":380,"wires":[["2e70eb1e.f82bc4"]]},{"id":"6c630148.83532","type":"ui_level","z":"16c67709.cdcd49","group":"68741756.3c5a08","order":3,"width":"0","height":"0","name":"Lungime Coada Est","label":"Coada Est","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"m","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":530,"y":200,"wires":[]},{"id":"b61ba781.5a99a8","type":"mqtt in","z":"16c67709.cdcd49","name":"","topic":"DistantaEst","qos":"1","datatype":"auto","broker":"c7dcd8fa.d0e328","x":330,"y":200,"wires":[["6c630148.83532"]]},{"id":"6495c359.862e9c","type":"ui_level","z":"16c67709.cdcd49","group":"68741756.3c5a08","order":3,"width":"0","height":"0","name":"Lungime Coada Vest","label":"Coada Vest","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"100","segWarn":"","segHigh":"","unit":"m","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":540,"y":260,"wires":[]},{"id":"cd32d3cf.578af","type":"mqtt in","z":"16c67709.cdcd49","name":"","topic":"DistantaVest","qos":"1","datatype":"auto","broker":"c7dcd8fa.d0e328","x":330,"y":260,"wires":[["6495c359.862e9c"]]},{"id":"df39a16f.f5e4f","type":"ui_level","z":"16c67709.cdcd49","group":"68741756.3c5a08","order":3,"width":"0","height":"0","name":"Lungime Coada Nord","label":"Coada Nord","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"m","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":540,"y":320,"wires":[]},{"id":"42711415.77e3ec","type":"mqtt in","z":"16c67709.cdcd49","name":"","topic":"DistantaNord","qos":"1","datatype":"auto","broker":"c7dcd8fa.d0e328","x":330,"y":320,"wires":[["df39a16f.f5e4f"]]},{"id":"2fa017de.a03fb8","type":"trigger","z":"a0bb0bb6.7c0ce8","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":260,"y":400,"wires":[["589fe0bb.7bdd6"]]},{"id":"13f0cad4.d34ba5","type":"mysql","z":"5130154f.d30dfc","mydb":"5e5066e8.1bb3c8","name":"","x":840,"y":120,"wires":[[]]},{"id":"3299884.cfa3578","type":"function","z":"5130154f.d30dfc","name":"Insert into DB","func":"var distantaSud=global.get(\"DistantaSud\");\nvar distantaEst=global.get(\"DistantaEst\");\nvar distantaNord=global.get(\"DistantaNord\");\nvar distantaVest=global.get(\"DistantaVest\");\n\nmsg.payload=[distantaSud, distantaEst, distantaNord, distantaVest];\nmsg.topic=\"insert into dateSemafoare (DistantaSud,DistantaEst,DistantaNord,DistantaVest) values (?,?,?,?);\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["13f0cad4.d34ba5"]]},{"id":"2e5b1e7d.d62d62","type":"trigger","z":"5130154f.d30dfc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":450,"y":120,"wires":[["3299884.cfa3578"]]},{"id":"69ff52b8.a9f10c","type":"mqtt in","z":"5130154f.d30dfc","name":"Power","topic":"Power","qos":"0","datatype":"auto","broker":"c7dcd8fa.d0e328","x":70,"y":120,"wires":[["e9ff15a1.8f4618"]]},{"id":"e9ff15a1.8f4618","type":"function","z":"5130154f.d30dfc","name":"Pornire Inserari","func":"\nif (msg.payload==3)\n    {\n        msg.payload=1;\n    }\nelse if(msg.payload==4)\n    {\n    msg.payload=null;\n    msg.reset={};\n    }\nreturn msg","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["2e5b1e7d.d62d62"]]},{"id":"4e8dd5d7.a966cc","type":"mqtt in","z":"b2f4a74d.900c38","name":"Power","topic":"Power","qos":"0","datatype":"auto","broker":"c7dcd8fa.d0e328","x":110,"y":120,"wires":[["793f610b.139c1"]]},{"id":"793f610b.139c1","type":"function","z":"b2f4a74d.900c38","name":"Pornire Trimitere prin MQTT","func":"\nif (msg.payload==3)\n    {\n        msg.payload=1;\n    }\nelse if(msg.payload==4)\n    {\n    msg.payload=null;\n    msg.reset={};\n    }\nreturn msg","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["30589210.a4218e"]]},{"id":"30589210.a4218e","type":"trigger","z":"b2f4a74d.900c38","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":560,"y":120,"wires":[["8ee8a617.7db248","bd897d0c.f270d","829ae5d7.fdd678","7a7fb134.c99c","132366f4.b04df9","febb78f5.4c2688"]]},{"id":"b5363bf8.eea248","type":"mqtt out","z":"b2f4a74d.900c38","name":"SemaforNS","topic":"SemaforNS","qos":"0","retain":"true","broker":"c7dcd8fa.d0e328","x":950,"y":100,"wires":[]},{"id":"8ee8a617.7db248","type":"function","z":"b2f4a74d.900c38","name":"SemaforNS global","func":"var SemaforNS=global.get(\"SemaforNS\");\nmsg.payload=SemaforNS;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":100,"wires":[["b5363bf8.eea248"]]},{"id":"bd897d0c.f270d","type":"function","z":"b2f4a74d.900c38","name":"SemaforEV global","func":"var SemaforEV=global.get(\"SemaforEV\");\nmsg.payload=SemaforEV;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":160,"wires":[["f687c79.0415738"]]},{"id":"f687c79.0415738","type":"mqtt out","z":"b2f4a74d.900c38","name":"SemaforEV","topic":"SemaforEV","qos":"0","retain":"true","broker":"c7dcd8fa.d0e328","x":950,"y":160,"wires":[]},{"id":"663295aa.4168bc","type":"mqtt out","z":"b2f4a74d.900c38","name":"DistantaSud","topic":"DistantaSud","qos":"1","retain":"true","broker":"c7dcd8fa.d0e328","x":950,"y":220,"wires":[]},{"id":"829ae5d7.fdd678","type":"function","z":"b2f4a74d.900c38","name":"Distanta Sud","func":"var DistantaSud=global.get(\"DistantaSud\");\nmsg.payload=DistantaSud;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":220,"wires":[["663295aa.4168bc"]]},{"id":"62c7290d.7b8ed8","type":"mqtt out","z":"b2f4a74d.900c38","name":"DistantaEst","topic":"DistantaEst","qos":"1","retain":"true","broker":"c7dcd8fa.d0e328","x":950,"y":280,"wires":[]},{"id":"7a7fb134.c99c","type":"function","z":"b2f4a74d.900c38","name":"Distanta Est","func":"var DistantaEst=global.get(\"DistantaEst\");\nmsg.payload=DistantaEst;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["62c7290d.7b8ed8"]]},{"id":"10bd5a10.fadf76","type":"mqtt out","z":"b2f4a74d.900c38","name":"DistantaNord","topic":"DistantaNord","qos":"1","retain":"true","broker":"c7dcd8fa.d0e328","x":950,"y":340,"wires":[]},{"id":"132366f4.b04df9","type":"function","z":"b2f4a74d.900c38","name":"Distanta Nord","func":"var DistantaNord=global.get(\"DistantaNord\");\nmsg.payload=DistantaNord;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":340,"wires":[["10bd5a10.fadf76"]]},{"id":"973d2d29.aee2d","type":"mqtt out","z":"b2f4a74d.900c38","name":"DistantaVest","topic":"DistantaVest","qos":"1","retain":"true","broker":"c7dcd8fa.d0e328","x":950,"y":400,"wires":[]},{"id":"febb78f5.4c2688","type":"function","z":"b2f4a74d.900c38","name":"Distanta Vest","func":"var DistantaVest=global.get(\"DistantaVest\");\nmsg.payload=DistantaVest;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["973d2d29.aee2d"]]}]